.vscode/**
.vscode-test/**
src/**
test/**
meta/**
.gitignore
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**
*.vsix
**/.DS_Store
.secrets
.env
.github/copilot-instructions.md
.github/instructions/**
